@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}

body {
  font-family: "Oswald", "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  font-family: "Oswald", "Open Sans", sans-serif;
  letter-spacing: 4px;
  width: 100vw;
}

.general-container {
  background-color: rgba(21, 255, 188, 255);
}

.header {
  padding: 10px;

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
  }
  &__logos {
    display: flex;
    justify-content: center;
  }
}

footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #16ffbd;
    h3 {
      font-weight: 500;
      text-align: center;
      font-size: x-large;
      padding-top: 100px;
      strong {
        font-weight: lighter;
        text-decoration: line-through;
        text-decoration-color: #fe8cab;
      }
    }
    i {
      text-align: center;
      font-size: 11px;
      padding: 32px;
    }
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    li {
      font-size: x-large;
      text-align: center;
      color: #fff;
      &:nth-child(1) {
        text-decoration: line-through;
        color: #fe8cab;
      }
    }
  }
  text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    div {
      .footer-text {
        padding: 10px;
        h3 {
          font-size: 17px;
          padding: 20px;
          font-weight: 500;
          color: #fff;
          text-align: center;
        }
        p {
          color: #16ffbd;
          text-align: center;
        }
      }

      section {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        button {
          size: 20px;
          padding-right: 12px;
          padding-left: 12px;
          background-color: #000;
          border: none;
          h3 {
            font-weight: 500;
            color: #fff;
            text-align: center;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.main-images {
  margin: 0;

  &__image {
    margin: 0;
    padding: 0;
  }
}

.main-text {
  &__section {
    padding-top: 70px;
    padding-bottom: 70px;
    ul {
      align-content: center;
      li {
        display: inline;
        margin: 5px;
      }
    }

    &--list {
      justify-content: space-around;
    }
  }
}
