@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}
@media (max-width: 720px) {
  section {
    &.disappearing-image {
      display: none;
    }
  }
}

body {
  font-family: "Oswald", "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  font-family: "Oswald", "Open Sans", sans-serif;
  letter-spacing: 4px;
  width: 100vw;
}

.general-container {
  background-color: rgba(21, 255, 188, 255);
}

.header {
  padding: 10px;

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    color:#000;
    a:visited {
      color: #000;
    }
    :active {
      color: #000;
    }
  }
  &__logos {
    display: flex;
    justify-content: center;
  }
}

footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .container {
    padding-bottom: 85px;
  }
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #16ffbd;
    h3 {
      font-weight: 500;
      text-align: center;
      font-size: x-large;
      padding-top: 100px;
      strong {
        font-weight: lighter;
        text-decoration: line-through;
        text-decoration-color: #fe8cab;
      }
    }
    i {
      text-align: center;
      font-size: 11px;
      padding: 32px;
    }
  }
  nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    a {
      text-decoration: none;
      font-size: x-large;
      text-align: center;
      color: #fff;
      &:visited {
        color: #fff;
      }
      &:active {
        color: #fff;
      }
      &:nth-child(1) {
        text-decoration: line-through;
        color: #fe8cab;
        &:visited {
          color: #fe8cab;
        }
        &:active {
          color: #fe8cab;
        }
      }
    }
  }
  text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    div {
      .footer-text {
        padding: 10px;
        h3 {
          font-size: 17px;
          padding: 20px;
          font-weight: 500;
          color: #fff;
          text-align: center;
        }
        p {
          color: #16ffbd;
          text-align: center;
        }
        &:nth-child(3) {
          padding-bottom: 125px;
        }
      }

      section {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        button {
          size: 20px;
          padding-right: 12px;
          padding-left: 12px;
          background-color: #000;
          border: none;
          h3 {
            font-weight: 500;
            color: #fff;
            text-align: center;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.main-images {
  margin: 0;
  &__image {
    margin: 0;
    padding: 0;
  }
  div {
    width: 100vw;
  }
}

.welcome-video {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    text-align: center;
    position: absolute;
    background: transparent;
    width: 150px;
    height: 200px;
    border: none;
    img {
      width: 70px;
    }
    span {
      letter-spacing: 4px;
      text-align: center;
      color: #16ffbd;
      font-size: 35px;
    }
  }
  img {
    width: 100vw;
    padding: 0;
  }
}

.home-text {
  text-align: center;
  h2 {
    text-align: center;
    font-size: 53px;
    padding: 25px;
    padding-top: 80px;
  }
  i {
    text-align: center;
    font-size: 20px;
    padding: 32px;
  }
  p {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 24px;
  }
}

.home-text__secondary {
  text-align: center;
  img {
    width: 135px;
    padding: 32px;
  }
  h2 {
    font-size: 50px;
    padding: 30px;
    padding-top: 25px;
  }
  p {
    font-size: 25px;
    text-decoration: underline;
  }
}
section.home-picture {
  margin: 0;
  figure {
    margin: 0;
    width: 100%;
    padding-top: 110px;
    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
      padding-top: 75px;
      padding-top: 20px;
    }
    figcaption {
      text-align: center;
      font-weight: normal;
      padding: 15px;
      font-size: 30px;
    }
    &:nth-child(3) {
      padding-bottom: 90px;
    }
  }
}

.main-text {
  &__section {
    padding-top: 30px;
    padding-bottom: 70px;
    h2 {
      padding: 40px;
    }
    ul {
      align-content: center;
      justify-content: center;
      font-size: 19px;
      padding: 11px;
      li {
        display: inline;
        margin: 5px;
      }
    }
    &--list {
      justify-content: space-around;
    }
    h3 {
      padding-bottom: 30px;
      padding-top: 0;
      font-size: 33px;
    }
    p {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 19px;
    }
  }
}

.disappearing-image {
  &__image {
    width: 100vw;
  }
}

main.container {
  margin: 0;
}
