@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}

body {
  font-family: "Oswald", "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.general-container {
  background-color: rgba(21, 255, 188, 255);
  font-family: "Oswald", "Open Sans", sans-serif;
  letter-spacing: 2px;
  width: 100vw;
}

.header {
  padding: 10px;

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
  }
  &__logos {
    display: flex;
    justify-content: center;
  }
}

footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #16ffbd;
    h3 {
      text-align: center;
      font-size: medium;
      strong {
        text-decoration: line-through;
      }
    }
    i {
      text-align: center;
    }
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    li {
      text-align: center;
      color: #16ffbd;
      &:nth-child(1) {
        text-decoration: line-through;
        color: #fe8cab;
      }
    }
  }
  text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    div {
      h3 {
        color: #fff;
        text-align: center;
      }
      p {
        color: #16ffbd;
        text-align: center;
      }
      section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        button {
          size: 20px;
          background-color: #000;
          border: none;
        }
      }
    }
  }
}
